{{extend name="public/base"}}
{{block name="main"}}
<div class="col-md-8">
  <h1>添加博客</h1>

  <form action="{{:url('index/blog/doAdd')}}" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="form-group">
      <div class="col-md-2">
        <label class="control-label">标题:</label>
      </div>
      <div class="col-md-5">
        <input type="text" name="title" value="" class="form-control">
      </div>
      <div class="col-md-5">
        <span class="help-block">最多不超过255个字符</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
        <label class="control-label">图片:</label>
      </div>
      <div class="col-md-5">
        <input type="file" name="image" class="form-control">
      </div>
      <div class="col-md-5">
        <span class="help-block">最多不超过255个字符</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
        <label class="control-label">内容:</label>
      </div>
      <div class="col-md-5">
        <textarea name="content" rows="5" class="form-control"></textarea>
      </div>
      <div class="col-md-5">
        <span class="help-block">请输入博客内容</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <input type="submit" value="添加" class="btn btn-primary">
        <input type="reset" value="取消" class="btn btn-default">
      </div>
    </div>
  </form>

</div>
{{/block}}
{{block name="right"}}
    <div class="col-md-4">
        <!-- 右边栏 -->
        {{include file="blog/right"}}

    </div>
{{/block}}