          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">阅读排行版</h3>
            </div>
            <div class="panel-body">
               
              <ul class="list-group">
                {{volist name="vie" as id="blog"}}
                <li class="list-group-item">
                  <a href="{{:url('index/blog/detail',['id'=>$blog.id])}}">{{$blog.title}}</a>   
                <span class="badge">{{$blog.view}}</span>
                </li>
                {{/volist}}
              </ul>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">最新排行版</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                {{volist name="creat" as id="blog"}}
                <li class="list-group-item"><a href="{{:url('index/blog/detail',['id'=>$blog.id])}}">{{$blog.title}}</a></li>
                 {{/volist}}
              </ul>
            </div>
          </div>